/* PAGE */
body {
    color: #fff;
    background: #222;
    width: 100%;
    text-align: center;
    font: 200 16px Helvetica;
    padding: 0;
    margin: 0;
}

.f{display:flex;}

.px{padding-right:5px;padding-left:5px;}
.py{padding-top:5px;padding-bottom:5px;}

.mt{margin-top:20px;}
.mx-a{margin-right:auto;margin-left:auto;}
.mx{margin-right:5px;margin-left:5px;}
.my{margin-top:5px;margin-bottom:5px;}

.tx-c{text-align:center;}
.tx-j{text-align:justify;}